:root {
  --lightGrey: #dadcdc;
}
.status-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-header {
  text-align: center;
  border: 0.1px solid var(--lightGrey);
  width: 1000px !important;
  margin-top: 200px !important;
}
