.chart {
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  display: flex;
}
.chart-selector-form {
  margin-bottom: 20px;
}
.chart-editor {
  display: flex;
  flex-direction: column;
}

.chart-selector-container {
  display: flex;
}
