.btnNavbar {
  position: relative;
  background-color: inherit;
  outline: none;
  border: none;
}
.btnNavbar::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0.175rem;
  background: black;
}
.btn-effect::after {
  transform: scale(0, 1);
  transition: transform 0.3s ease;
}
.btn-effect:hover::after {
  transform: scale(1, 1);
}
.navBar {
  position: fixed;
  background-color: white;
  top: 0;
  z-index: 10;
  width: 100%;
}
