.editor-form-content {
  display: flex;
}
.editor-form-content-one {
  padding: 10px;
  width: 50%;
}
.editor-form-content-two {
  width: 50%;
  padding: 10px;
}
.button-container1 {
  padding-top: 14px;
}
.Input {
  width: 100%;
  height: 40px;
}
.Dropdown {
  width: 100%;
}
.product-category-list {
  border: 1.2px solid black;
}
.button-add-category {
  background-color: green !important;
}
.button-delete-category {
  background-color: red !important;
  width: 50%;
}

.show-selected-category {
  border: 1px solid black;
  height: 30%;
}

.quantity-row {
  padding: 0px;
  width: 100px;
  height: 40px;
  display: flex;
  justify-content: space-around;
  border: 0.1px solid black;
}
